{% extends 'base.html' %}
{% block content %}
<div class="shadow card">
        <div class="card-body">
          <h5 class="card-title" style="color:green;">   {{task.name}} </h5>
          <p style="color:orange;"><b> Priority {{task.priority}}  </b></p>
          <p style="color:red;"><b> Should be completed on or before {{task.date}}</b></p>

          <a class="btn btn-danger" href="{% url 'delete' task.id %}">Done</a>
          <a class="btn btn-warning" href="{% url 'update' task.id %}">Update</a>
        </div>
      </div>
{% endblock %}